$bg-color: linear-gradient(0deg, #150080 0.03%, #d08642);
$primary: #150080;
$accent: #d08642;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-image: $bg-color;
  color: $foreground;
  font-family: monospace;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}

.quiz-container {
  position: relative;
  width: 500px;
  background-color: $bg;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: $primary;
  }
  .total-question {
    font-size: 16px;
    font-weight: 500;
    color: $disabled;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  ul {
    margin-top: 20px;
    li {
      color: $foreground;
      font-size: 16px;
      background-color: $bg;
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
      &.selected-answer {
        background-color: $primary;
        border: 1px solid $accent;
        color: $bg;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  button {
    background: $bg-color;
    border-radius: 9px;
    padding: 10px 42px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    color: $bg;
    cursor: pointer;
    &:disabled {
      background: $bg-accent;
      cursor: not-allowed;
      color: $disabled;
    }
  }
  .result{
    text-align: center;
    h3{
        font-size: 24px;
        letter-spacing: 1.4px;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        span{
            color: $primary;
            font-size: 22px;
        }
    }
  }
}
